@font-face {
    font-family: nav-subheading;
    src: url('Karma-Bold.ttf');
}

@font-face {
    font-family: body-text;
    src: url('Chivo-Regular.ttf');
}

@font-face {
    font-family: heading;
    src: url('PetitFormalScript-Regular.ttf');
}


:root {
    --dark-color: rgb(62, 38, 57);
    --light-color: rgb(229, 224, 227);
    --font-ratio: 1.2;
    --main-heading: calc(2rem * var(--font-ratio));
    --secondary-heading: calc(1.5rem * var(--font-ratio));
    --sub-heading: calc(1.25rem * var(--font-ratio));
    --nav-text: calc(1rem * var(--font-ratio));
    --desc-text: calc(0.8rem * var(--font-ratio));
    --body-text: calc(1rem * var(--font-ratio));
    --nav: "nav-subheading"; 
    --body: "body-text";
    --heading:"heading";
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--main-heading);
    font-family: var(--heading);
    text-align: center;
}

h2 {
    font-size: var(--secondary-heading);
    font-family: var(--nav);
    text-align: center;
}

h3 {
    font-size: var(--sub-heading);
    font-family: var(--nav);
}

h4 {
    font-size: var(--desc-text);
    font-family: var(--body);
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: lighter;
    max-width: 250px;
}

h5 {
    font-size: var(--desc-text);
    font-family: var(--body);
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    max-width: 250px;
}

p {
    font-size: var(--body-text);
    font-family: var(--body);
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
}

a{
    font-size: var(--sub-heading);
    font-family: var(--nav);
    text-decoration: none;
    color:var(--dark-color);
}

nav {
    background-color: var(--dark-color);
    padding: 0px;
    display: flex;
    justify-content: center;
    font-family: var(--nav);
    font-size: var(--nav-text);
}
nav a {
   text-decoration: none;
   color:var(--light-color);
}
#menu {
    display: flex;
    gap: 20px;
    list-style-type: none;
}
#menu-toggle {
    display: none;
    background-color: var(--dark-color);
    color: var(--light-color);
    border: none;
}
#menu.active {
    display: flex;
}

#bg img {
    width: 100%;
    height: 600px;
    opacity: 0.5;
 }

 #bg h1 {
  position: absolute;
  z-index: 2;
  margin-top: -350px;
  margin-left: 50px;
  font-size: 90px;
  color: var(--dark-color);
  text-align: center;
 }

.hero {
    background-image: url(../images/hero1.jpg);
    background-size: cover;
    min-height: 38rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.hero h1{
    top: 10px;
}


.gallery-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto, 14.5rem);
    grid-row-gap: 20px;
    max-width: 75rem;
    margin: 0 auto;
    margin-bottom: -50px;
}

.gallery-card{
    border-left: solid rgb(62, 38, 57) 3px;
    max-width: 60rem;
    padding: 10px;
    height: 550px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.gallery{
    text-align: center;
    margin-top: 40px;
}

img {
    width: 85%;
    height: 60%;
    object-fit: cover;
}

.about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60rem;
    margin: -30px auto;
}

.about img{
    width: 50%;
    height: 50%;
    object-fit: cover;
    padding: 10px;
}

.about p{
    padding: 10px;
    text-align: justify;
}

footer{
    background-color: var(--dark-color);
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

footer p{
    color: var(--light-color);
    text-align: center;
}

/* laptop, small screen media  -  1024px or less */
/* max-width: 1024px is the same as saying 
if width is less than 1024px, run this css */
@media screen and (max-width: 64em) {
    :root{
        --font-ratio: 1.2;
        --main-heading: calc(1.5rem * var(--font-ratio));
        --secondary-heading: calc(1.5rem * var(--font-ratio));
        --sub-heading: calc(1.25rem * var(--font-ratio));
        --nav-text: calc(1rem * var(--font-ratio));
        --body-text: calc(1rem * var(--font-ratio));
    }

    .hero {
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: start;
        min-height: 35rem;
    }

    .about{
        width: 50rem;
        margin: -30px auto;
    }
    
}

/* ipad, tablets media  -  768px or less */
/* max-width: 768px is the same as saying 
if width is less than 768px, run this css */
@media screen and (max-width: 48em) {
    :root{
        --font-ratio: 1.0;
        --main-heading: calc(1.2rem * var(--font-ratio));
        --secondary-heading: calc(1.5rem * var(--font-ratio));
        --sub-heading: calc(1.25rem * var(--font-ratio));
        --nav-text: calc(1rem * var(--font-ratio));
        --body-text: calc(1rem * var(--font-ratio));
    }

    .hero {
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: start;
        min-height: 27rem;
    }

    .gallery-images {
        grid-template-columns: 1fr 1fr;
    }

    .about{
        width: 40rem;
        margin: -30px auto;
    }
    
    
}

/* mobile media  -  480px or less */
/* max-width: 480px is the same as saying 
if width is less than 480px, run this css */
@media screen and (max-width: 30em) {

    :root{
        --font-ratio: 0.5;
        --main-heading: calc(2rem * var(--font-ratio));
        --secondary-heading: calc(1.8rem * var(--font-ratio));
        --sub-heading: calc(1.25rem * var(--font-ratio));
        --nav-text: calc(1rem * var(--font-ratio));
        --body-text: calc(1.125rem * var(--font-ratio));
    }

    #menu-toggle {
        display: block;
    }
    #menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 10px;
        right: 0px;
        background-color: var(--dark-color);
        padding: 20px;
        width: 100%;
        text-align: center;
    }

    .hero {
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: start;
        min-height: 18rem;
    }

    .gallery-images {
        grid-template-columns: 1fr;
    }

    .about{
        flex-direction: column;
        margin: 0 auto;
        width: 22rem;
    }
}


